In [ ]:
print('Hello World')

In [ ]:
print('Mary`s cosmetics')

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
print('"c:\\Windows"')

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
print ("오늘은", "일요일")
#오늘은 일요일

In [ ]:
print('naver;kakao;sk;samsung')

In [ ]:
print('first', 'second', sep = ' ')

In [ ]:
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
len(string)

In [ ]:
a = '3'
b = '4'
print(a+b)#34

In [ ]:
s = 'hello'
t = 'python'
print(s, t, sep='! ')

In [ ]:
for i in range(80):
    print('-', end='')

In [ ]:
>>> t1 = 'python'
>>> t2 = 'java'
print((t1+' '+t2+' ')*4)

In [ ]:
amounts = 10
prices = 20000
values = amounts*prices
print(values)

In [ ]:
print(2+2*3)

In [ ]:
a = '132'
type(a)

In [ ]:
num_str = '720'
num = int(num_str)
print(num)

In [ ]:
num = 100
num_str = str(num)
print(num_str)

In [ ]:
lang = 'python'
lang[0] + ' ' + lang[2]

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
string = "PYTHON"
print(string[::-1])

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.split('-'))

phone_number = "010-1111-2222"
print(phone_number.replace('-', ' '))

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.replace('-', ''))

In [ ]:
url = "http://sharebook.kr"
print(url[-2:])

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
movie_rank = []
movie_rank.append('닥터 스트레인지')
movie_rank.append('스플릿')
movie_rank.append('럭키')


print(movie_rank)

In [ ]:
movie_rank.append('배트맨')
print(movie_rank)

In [ ]:
movie_rank.remove('럭키')
print(movie_rank)

In [ ]:
movie_rank.remove('스플릿')
print(movie_rank)

In [3]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = []
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(min(nums))
print(max(nums))

1
7

In [5]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [10]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [11]:
total = sum(nums)
print(total/len(nums))

3.0

In [12]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [14]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [15]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [16]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [20]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
for i in interest:
    print(i, end = ' ')

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [21]:
for i in interest:
    print(i, end = '/')

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우/

In [22]:
for i in interest:
    print(i)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [25]:
string = "삼성전자/LG전자/Naver"
interest = []
interest.append(string[0:4])
print(interest)

['삼성전자']

In [27]:
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"
interest = []
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [1]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

In [2]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0[:2]
interest_1[0] = 'Naver'
print(interest_0)

['삼성전자', 'LG전자', 'SK Hynix']

In [3]:
my_variable = ()
type(my_variable)

tuple

In [4]:
tup = (1)

In [5]:
t = ('a', 'b', 'c')
t = t.upper()
print(t)

AttributeError: 'tuple' object has no attribute 'upper'

In [6]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

TypeError: list() takes no keyword arguments

In [7]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [8]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a + b + c)

6